<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztstech.vgmate">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.main.MainActivity" />
        <activity
            android:name=".activitys.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activitys.complete_info.FillInfoActivity" />
        <activity android:name=".activitys.provide_chance.ProvideChanceActivity" />
        <activity android:name=".activitys.location_select.LocationInfoActivity" />
        <activity android:name=".activitys.location_select.LocationSelectActivity" />
        <activity android:name=".activitys.add_sell_mate.AddSellMateActivity" />
        <activity android:name=".activitys.sell_chance.SellChanceActivity" />
        <activity android:name=".activitys.get_chance.GetChanceActivity" />
        <activity android:name=".activitys.self_organization.SelfOrganizationActivity" />
        <activity android:name=".activitys.self_organization_detail.SelfOrganizationDetailActivity" />
        <activity android:name=".activitys.category_info.CategoryTagsActivity" />
        <activity
            android:name=".activitys.request_record_detail.RequestRecordDialogActivity"
            android:theme="@style/DialogActivity" />
        <activity android:name=".activitys.org_list.OrgListActivity" />
        <activity android:name=".activitys.info.EditInfoActivity" />
        <activity android:name=".activitys.setting.SettingActivity" />
        <activity android:name=".activitys.article_detail.ArticleDetailActivity" />
        <activity android:name=".activitys.create_share_info.CreateShareInfoActivity" />
        <activity android:name=".activitys.create_share_notice.CreateShareNoticeActivity" />
        <activity android:name=".activitys.add_org.AddOrgActivity" />
        <activity android:name=".activitys.create_share_add_desc.CreateShareAddDescActivity" />
        <activity android:name=".activitys.create_share_add_cover.CreateShareAddCoverActivity"></activity>
    </application>

</manifest>