<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztstech.vgmate">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.main.MainActivity" />
        <activity
            android:name=".activitys.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activitys.user_info.complete_info.FillInfoActivity" />
        <activity android:name=".activitys.provide_chance.ProvideChanceActivity" />
        <activity android:name=".activitys.location_select.LocationInfoActivity" />
        <activity android:name=".activitys.location_select.LocationSelectActivity" />
        <activity android:name=".activitys.add_sell_mate.AddSellMateActivity" />
        <activity android:name=".activitys.sell_chance.SellChanceActivity" />
        <activity android:name=".activitys.get_chance.GetChanceActivity" />
        <activity android:name=".activitys.self_organization.SelfOrganizationActivity" />
        <activity android:name=".activitys.self_organization_detail.SelfOrganizationDetailActivity" />
        <activity android:name=".activitys.category_info.CategoryTagsActivity" />
        <activity
            android:name=".activitys.request_record_detail.RequestRecordDialogActivity"
            android:theme="@style/DialogActivity" />
        <activity android:name=".activitys.org_list.OrgListActivity" />
        <activity android:name=".activitys.user_info.edit_info.EditInfoActivity" />
        <activity android:name=".activitys.setting.SettingActivity" />
        <activity android:name=".activitys.article_detail.ArticleDetailActivity" />
        <activity android:name=".activitys.create_share.create_share_info.CreateShareInfoActivity" />
        <activity android:name=".activitys.add_org.AddOrgActivity" />
        <activity android:name=".activitys.create_share.create_share_add_desc.CreateShareAddDescActivity" />
        <activity android:name=".activitys.create_share.create_share_add_cover.CreateShareAddCoverActivity" />
        <activity android:name=".activitys.org_detail.OrgDetailActivity" />
        <activity android:name=".activitys.sell_mate_list.SellMateListActivity"/>
        <activity
            android:name=".activitys.gps.GpsActivity"
            android:hardwareAccelerated="false" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2eef75224613462feb1dcd80b26409ee" />

        <activity android:name=".activitys.complete_org_info.CompleteOrgInfoActivity" />
        <activity android:name=".activitys.complete_org_info.subview.basic_info.CompleteOrgInfoBasicInfoActivity" />
        <activity android:name=".activitys.complete_org_info.subview.pic_video.CompleteOrgInfoPicVideoActivity" />
        <activity android:name=".activitys.complete_org_info.subview.tag.CompleteOrgInfoTagActivity" />
        <activity android:name=".activitys.complete_org_info.subview.org_info.CompleteOrgInfoOrgInfoActivity" />
        <activity android:name=".activitys.complete_org_info.subview.class_info.CompleteOrgInfoClassInfoActivity" />
        <activity android:name=".activitys.complete_org_info.subview.charge.CompleteOrgInfoChargeActivity" />
        <activity android:name=".activitys.complete_org_info.subview.teacher.CompleteOrgInfoTeacherActivity" />
        <activity android:name=".activitys.complete_org_info.subview.phone.CompleteOrgInfoPhoneActivity" />
        <activity android:name=".activitys.complete_org_info.subview.contact.CompleteOrgInfoContactActivity" />
        <activity android:name=".activitys.complete_org_info_v2.CompleteOrgInfoV2Activity" />
        <activity android:name=".activitys.org_edit_history.OrgEditHistoryActivity" />
        <activity android:name=".activitys.enroll_tag.EnrollTagActivity" />
        <activity android:name=".activitys.comment.CommentActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.multiple_line.EditOrgInfoMultipleInputActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.signle_line.EditOrgInfoSignleInputActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.org_logo.EditOrgLogoActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.manager.EditOrgManagerActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.pic_video.EditOrgPicVideoActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.teacher.list.EditOrgInfoTeacherActivity" />
        <activity android:name=".activitys.complete_org_info_v2.subview.teacher.add.EditOrgInfoAddTeacherActivity" />
        <activity android:name=".activitys.mate_approve.UnApproveMateListActivity"/>
        <activity android:name=".activitys.question.create_question.CreateQuestionActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activitys.question.SearchQuestActivity"/>
        <activity android:name=".activitys.question.question_detail.QuestDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name=".activitys.org_follow.OrgFollowActivity"/>
        <activity android:name=".activitys.photo_browser.PhotoBrowserActivity"/>
        <activity android:name=".activitys.sell_mate_list.SearchMateActivity"/>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name=".utils.ByglyFileProvider"
            android:authorities="f7de557887.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activitys.qr_code.confirm.QRCodeLoginActivity" />
        <activity android:name=".activitys.qr_code.scan.QRCodeScanActivity"></activity>
    </application>

</manifest>